@{
   ViewData["Title"] = "Offload or edit passenger";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BMS.Models.ViewModels.Passengers
@model PassengerFullNameInputModel

@if (TempData["Error"] != null)
{
    @await Component.InvokeAsync("ErrorAlert", new { message = TempData["Error"] })
}

<form asp-controller="PAX" asp-action="GetPassengerByFullNameData">
    <div class="form-group">
        <input asp-for="@Model.FullName" class="form-control w-100" placeholder="Enter passenger full name"/>
        <button type="submit" class="btn btn-primary w-100">Get passenger</button>
    </div>
</form>

