@using BMS.Models.ViewModels.Passengers;
@model PassengerViewModel
<form asp-controller="Operations" asp-action="GeneratePAXManifest">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Flight number"/>
    </div>
    <partial name="_PassengerManifestPartial" for="@Model"/>
    <button type="submit" class="btn btn-primary w-100">Create passenger manifest</button>
</form>