
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_CustomLoginRegisterLayout.cshtml";
}

<h1 clas="text-centered">We do apologize but something has gone horribly,horribly wrong...We're working on fixing it...</h1>

